<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> D3 LineGraph</title>

	<script type="text/javascript"
			src = "{{ url_for('static' , filename = 'd3.js') }}">
	</script>

	<style type="text/css">
        .axis path,
        .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }

        .axis text {
            font-family: sans-serif;
            font-size: 11px;
        }

        .textID {
        	opacity: 1;
        }

        .linepath {
			stroke: black;
			stroke-width: 1;
			fill: none;
		}
    </style>

</head>
<body>
	<script type="text/javascript">
		var h = 500;
		var w = 500;
		var svg = d3.select("body")
		  .append("svg")
		  .attr("height" , h + 100)
		  .attr("width" , w + 100)

		var dataset = {{ data|safe }}

		var minval = -1;
		for (var i = 0;i < dataset.length;i++) {
			dataset[i] = parseInt(dataset[i] , 10);
			if (minval == -1)
				minval = dataset[i];
			else
				minval = Math.min(minval , dataset[i]);
		}

		svg.selectAll("circle")
		   .data(dataset)
		   .enter()
		   .append("circle")
		   .attr("cx" , function(d , i) {
		   		return 50 + (i + 1) * (w / dataset.length); 
		   })
		   .attr("cy" , function(d) {
		   		return 50 + w - (5 * d);
		   })
		   .attr("r" , 5)
		   .attr("fill" , function(d) {
		   		if (d != minval)
		   			return "red";
		   		else
		   			return "blue";
		   	});

		var lines = []
		for (var i = 0;i < dataset.length;i++) {
			points = []
			if (i != dataset.length - 1) {
				points.push(50 + (i + 1) * (w / dataset.length));
				points.push(50 + (i + 2) * (w / dataset.length));
				points.push(50 + w - (5 * dataset[i]));
				points.push(50 + w - (5 * dataset[i + 1]));
			}
			else {
				points.push(50 + (i + 1) * (w / dataset.length));
				points.push(50 + (i + 1) * (w / dataset.length));
				points.push(50 + w - (5 * dataset[i]));
				points.push(50 + w - (5 * dataset[i]));
			}
			lines.push(points)
		}

		console.log(lines)

		svg.selectAll("line")
		   .data(lines)
		   .enter()
		   .append("line")
		   .attr("x1" , function(d , i) {
		   		return d[0];
		   })
		   .attr("x2" , function(d , i) {
		   		return d[1];
		   })
		   .attr("y1" , function(d , i) {
		   		return d[2];
		   })
		   .attr("y2" , function(d , i){
		   		return d[3];
		   })
		   .attr("class" , "linepath")

		svg.selectAll("text")
		   .data(dataset)
		   .enter()
		   .append("text")
		   .text(function(d) {
		   		return d;
		   })
		   .attr("x", function(d , i) {
		   		return 50 + (i + 1) * (w / dataset.length);
		   })
		   .attr("y", function(d) {
		   		return 50 + w - (5 * d);
		   })
		   .attr("font-family", "sans-serif")
		   .attr("font-size", "15px")
		   .attr("fill", "black")
		   .attr("class" , "textID");

		   //Create scale functions
        var xScale = d3.scale.linear()
                       .domain([0, dataset.length])
                       .range([0, 500]);
        var xAxis = d3.svg
                      .axis()
                      .scale(xScale)
                      .orient("bottom")
                      .ticks(20)

        svg.append("g")
           .attr("class" , "axis")
           .attr("transform", "translate(50," + (h + 50) + ")")
           .attr("fill" , "black")
           .call(xAxis);


        var yScale = d3.scale.linear()
                       .domain([0, 100])
                       .range([w, 0]);
        //Define Y axis
        var Yaxis = d3.svg
        			  .axis()
        			  .scale(yScale)
        			  .orient("left")
        			  .ticks(20)

        svg.append("g")
           .attr("class" , "axis")
           .attr("transform" , "translate(50 , 50)")
           .call(Yaxis)
		   
	</script>

	<h3> Variation of Incorrect Predictions with Neighbourhood Size</h3>
	<h4> X Axis : Neighbourhood Size </h4>
	<h4> Y Axis : Incorrect Predictions </h4>

</body>
</html>